# SSH secrets
**/.ssh/id_*
**/.ssh/*_rsa
**/.ssh/*_dsa
**/.ssh/*_ecdsa
**/.ssh/*_ed25519
**/.ssh/git*
**/.ssh/known_hosts
**/.ssh/config.d/*secrets*
**/.gnupg/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment files
.env
.env.*

# Build artifacts
/dist
/build
/site
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/
*.spec

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Custom
*/dev
*/dev/*
